body
{
	position: relative;
	font-family: Arial;
}

.title
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.display
{
	border: 1px solid #000000;
}

.PI_calculator
{
	width: 500px;
	border: 1px solid #000000;
	margin: 8px;
	padding: 8px 16px;
}

.PiCalc_top
{
	display: flex;
	margin-bottom: 8px;
	padding: 8px 0px; 
	justify-content: space-between;
	align-items: center;
}

.label
{
	width: 200px;
	float: left;
}

.button
{
	display: block;
	cursor: pointer;
	border: solid 1px black;
	padding: 4px 8px;
	background-color: #e0e0e0;
}

.number_dispay
{
	display: block;
	background-color: #f7f7f7;
}